::ng-deep .ui-carousel-header {
  display: none;
}

.ui-carousel {
  width: 100%;
}

.ui-carousel-item {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 250px;
}

.ui-carousel-items {
  width: 100%;
}

.ui-carousel-viewport {
  width: 100%;
}

.ui-carousel-header {
  background-color: #007aff;
}
